.delete-modal-child { 
    animation-name: delete-modal-swoop-in;
    animation-duration: 0.5s;
    margin: 0 auto;
    position: relative;
    top: 10%;
    z-index: 11;
    background: rgb(20, 17, 40);
    border-radius: 3px;
    height: 400px;
    width: 600px;
}

.delete-modal-box {
  height: 400px;
}

.delete-modal-track-preview {
  display: flex;
  flex-direction: row;
  width: 560px;
  justify-content: center;
  margin-left: 30px;
}

.delete-modal-box .track-player {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  left: -25px;
  width: 420px;
}

.track-player-top-row {
  display: flex;
  flex-direction: row;
}

.delete-modal-child .track-name {
  font-size: 17px;
  background-color: transparent;
  position: relative;
  top: -10px;
}

.delete-modal-child .artist-name {
  font-size: 11px;
  background-color: transparent;
}

.delete-modal-child .creation-time-elapsed {
  font-size: 11px;
  color: rgb(181, 180, 180);
  margin-left: 430px;
  margin-top: 33px;
}

.delete-modal-child .track-cover {
  width: 160px;
  height: 160px;
  margin: 25px;
}

.delete-modal-child .track-name-wrapper {
  width: 340px;
}

.delete-modal-child .track-name {
  width: 310px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.delete-modal-child .show-track-player {
  width: 365px;
  height: 100px;
  position: relative;
  top: -180px;
}

.delete-modal-child audio {
  width: 350px;
}

.delete-modal-child .play-btn {
  height: 40px;
  width: 40px;
}

.delete-modal-child .comment-input {
  height: 18px;
  width: 300px;
  padding-left: 10px;
  position: relative;
  top: -190px;
  left: 35px;
}

.delete-modal-child .current-user-avatar {
  position: relative;
  left: 35px;
  top: -190px;
  height: 20px;
  width: 20px;
}

.delete-modal-child button {
  font-size: 13px;
}

.divider {
  margin: 0 auto;
  width: 93%;
  height: 1px;
  border-radius: 3px;
  background: rgba(194, 193, 193, 0.39);
}

.bottom-half {
  padding: 10px 5px 5px 10px;
  width: 235px;
  border-radius: 5px;
  border: 0.5px solid gray;
  margin-top: 25px;
  margin-left: 185px;
}

.divider, .bottom-half {
  position: relative;
  top: -170px;
}

.delete-prompt {
  font-size: 16px;
}

.delete-warning {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 13px;
}

.cancel-delete {
  background: transparent;
  border-color: rgba(194, 193, 193, 0.39);
}

.cancel-delete:active {
  background: rgba(194, 193, 193, 0.39);
}

@keyframes delete-modal-swoop-in {
  from {
    top: -100%;
    bottom: -100%;
  }
  to {
    top: 10%;
    bottom: 0%;
  }
}