.discover-container {
  margin: 0 auto;
  width: 1230px;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 60px;
  left: 22px;
  background: rgb(36, 36, 36);
  animation-name: fade-in;
  animation-duration: 0.5s;
}

.discover-wrapper {
  margin-left: 17%;
}

.discover-panel-header {
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
}

.discover-panel-subtitle {
  color: white;
  font-size: 14px;
  margin-bottom: 20px;
}

.tracks-panel {
  width: 830px;
  height: 225px;
  margin-bottom: 30px;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(36,6,121,1) 63%, rgb(43, 0, 173) 100%);
  display: flex;
}

.s-p-track-list {
  height: 230px;
  width: 258px;
  border: 1px solid white;
  margin-bottom: 15px;
}

.tracks-panel .playlist-cover {
  width: 185px;
  height: 185px;
  background: rgba(255, 255, 255, 0.166);
  margin: 20px;
  position: relative;
}

.playlist-cover .play-btn {
  position: absolute;
  left: 30px;
  top: 35px;
}

.best-of .tracks {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.soundshroud-weekly .tracks {
  margin-top: 12px;
}

.tracks-panel .tracks li {
  display: flex;
  width: 580px;
  padding-left: 8px;
  padding-bottom: 12px;
  padding-top: 12px;
  border-bottom: .5px solid rgba(255, 255, 255, 0.639);
  font-size: 14px;
  color: white;
  white-space: pre;
}

.tracks-panel .tracks li:hover {
  background: rgba(255, 255, 255, 0.098);
  cursor: pointer;
}

.tracks-panel .tracks {
  height: 200px;
  width: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}

.tracks-panel .tracks::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: transparent;
}

.tracks-panel .tracks::-webkit-scrollbar
{
    width: 10px;
    background-color: transparent;
}

.tracks-panel .tracks::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgba(0, 0, 0, 0.344);
}

.tracks-panel .tracks .artist {
  color: rgba(255, 255, 255, 0.434);
}

.tracks-panel .tracks .track {
  color: white;
}

.tracks-carousel #track-container {
  margin: 5px 10px 5px 10px;
  position: relative;
  animation-name: fade-in;
  animation-duration: 1s;
}

.tracks-carousel #track-title {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: white;
  margin-top: 5px;
}

.tracks-carousel p {
  font-size: 11px;
  color: rgb(192, 189, 189);
  text-align: center;
  margin-top: 5px;
}


.tracks-carousel .tracks {
  display: flex;
  width: 825px;
  height: 230px;
  margin-bottom: 20px;
  overflow-x: auto;
  overflow-y: hidden;
}

.tracks-carousel .tracks li {
  color: white;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 1px solid white;
}

.tracks-carousel .artists {
  border: 1px solid white;
  display: flex;
  width: 825px;
  height: 200px;
  margin-bottom: 20px;
  overflow-x: auto;
  overflow-y: hidden;
}

.tracks-carousel .artists li {
  color: white;
  margin: 10px;
  border: 1px solid white;
}

.tracks-carousel .tracks::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: transparent;
}

.tracks-carousel .tracks::-webkit-scrollbar
{
    width: 10px;
    background-color: transparent;
}

.tracks-carousel .tracks::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgba(255, 255, 255, 0.344);
}

.tracks-carousel .artists::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: transparent;
}

.tracks-carousel .artists::-webkit-scrollbar
{
    width: 10px;
    background-color: transparent;
}

.tracks-carousel .artists::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgba(255, 255, 255, 0.344);
}

.playlist-cover-img {
  width: 100%;
  height: 100%;
}