.edit-modal-child { 
    animation-name: edit-modal-swoop-in;
    animation-duration: 0.5s;
    position: relative;
    top: -12%;
    z-index: 11;
    width: 810px;
    margin: 0 auto;
}

@keyframes edit-modal-swoop-in {
  from {
    top: -100%;
    bottom: -100%;
  }
  to {
    top: -12%;
    bottom: 0%;
  }
}