.edit-modal-child { 
margin: 0 auto;
  z-index: 11;
}

/* I can't currently get the modal swoop to work... just need to find the right div to put the animation on... */
.edit-modal-child .upload-details-page {
  animation-name: modal-swoop-in;
  animation-duration: 0.5s;
}