.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  animation-name: modal-background-fade-in;
  animation-duration: 0.25s;
}

.modal-child {
  position: relative;
  margin: 0 auto;
  top: 15%;
  color: white;
  background: rgb(20, 17, 40);
  height: 400px;
  width: 500px;
  animation-name: modal-swoop-in;
  animation-duration: 0.5s;
}

.session-form {
  position: absolute;
  top: 200px;
  left: 48px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

#demo-login-btn {
  position: absolute;
  top: -140px;
  left: -10px;
}

#github-btn {
  position: absolute;
  top: -85px;
  left: 6px;
  background-color: darkslateblue;
  border-radius: 2px;
  padding-left: 130px;
  padding-top: 10px;
  width: 268px;
  height: 28px;
  color: white;
  font-size: 14px;
  text-decoration: none;
}

#github-btn:active {
  background-color: rgb(55, 47, 104);
}

#or-border {
  position: absolute;
}

#line {
  color: white;
  position: absolute;
  top: -35px;
  font-weight: lighter;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  left: 10px;
}

#line:first-child {
  top: -35px;
  left: 240px;
}

#modal-or {
  position: absolute;
  left: 200px;
  top: -30px;
}

.session-form input {
  position: absolute;
  height: 35px;
  width: 380px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  padding-left: 10px;
  color: black;
  background-color: white;
}

.session-form input::placeholder {
  color: grey;
}

.session-form input:focus-within {
  outline-color: darkslateblue;
}

#email-input {
  top: 0px;
  left: 10px;
}

#password-input {
  top: 5px;
  left: 10px;
}

.left-arrow {
  position: absolute;
  top: -32px;
  left: 24px;
  width: 0; 
  height: 0; 
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent; 
  border-right: 10px solid black; 
  z-index: 10;
}

#second-email-input {
  position: absolute;
  top: -45px;
  left: 10px;
  height: 25px;
  font-size: 14px;
  width: 359px;
  background: white;
  color: black;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 30px;
  border-radius: 5px;
  border: 1px solid rgb(196, 196, 196);
}

#second-email-input:hover, .left-arrow:hover {
  cursor: pointer;
}

.session-button {
  width: 400px;
  height: 40px;
}

@keyframes modal-swoop-in {
  from {
    top: -100%;
    bottom: -100%;
  }
  to {
    top: 15%;
    bottom: 0%;
  }
}

@keyframes modal-background-fade-in {
  from {
    background: transparent;
  }
  to {
    background: rgba(0, 0, 0, 0.7);
  }
}

#continue-btn {
  position: absolute;
  left: 8px;
  top: 50px;
  background-color: darkslateblue;
  border-radius: 2px;
  padding-left: 165px;
  padding-top: 10px;
  width: 230px;
  height: 28px;
}

#continue-btn:active {
  background-color: rgb(55, 47, 104);
}

#continue-btn:hover {
  cursor: pointer;
}

#signin-button {
  position: absolute;
  left: -9px;
  top: 55px;
}

#signin-button:active {
  background-color: rgb(55, 47, 104);
}


#signup-header:first-of-type {
  position: absolute;
  font-size: 30px;
  top: -150px;
  width: 300px;
  left: 13px;
}

#signup-header {
  position: absolute;
  font-size: 30px;
  top: -105px;
  left: 150px;
  
}

#password-prompt {
  position: absolute;
  font-size: 14px;
  left: 10px;
  top: 3px;
}

#pw-signup-form #second-email-input {
  top: -50px;
}

#pw-signup-form .left-arrow {
  top: -38px;
}

#pw-signup-form #password-input {
  top: 30px;
}

#accept-continue-btn {
  position: absolute;
  left: 8px;
  top: 85px;
  background-color: darkslateblue;
  border-radius: 2px;
  padding-left: 130px;
  padding-top: 10px;
  width: 265px;
  height: 28px;
}

#acc-name-header:first-of-type {
  position: absolute;
  font-size: 30px;
  top: -120px;
  width: 300px;
  left: 120px;
}

#acc-name-header {
  position: absolute;
  font-size: 30px;
  top: -80px;
  left: 100px;
}

#name-prompt {
  position: absolute;
  font-size: 14px;
  left: 11px;
  top: -16px;
}

#name-input {
  position: absolute;
  left: 13px;
  top: 10px;
}

#name-explanation1 {
  position: absolute;
  font-size: 12.5px;
  color: gray;
  top: 60px;
  left: 12px;
}

#name-explanation2 {
  position: absolute;
  font-size: 12px;
  color: gray;
  top: 78px;
  left: 12px;
}


#get-started-btn {
  position: absolute;
  top: 101px;
  left: -7px;
}