.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  animation-name: modal-background-fade-in;
  animation-duration: 0.25s;
}

.modal-child {
  position: absolute;
  left: 36%;
  top: 15%;
  color: white;
  background: rgb(20, 17, 40);
  height: 600px;
  width: 500px;
  animation-name: modal-swoop-in;
  animation-duration: 0.5s;
  display: flex;
  justify-content: center;
}

.session-form-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.session-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
}

.session-button {
  width: 400px;
}

@keyframes modal-swoop-in {
  from {
    /* left: 50%; */
    top: -100%;
    bottom: -100%;
  }
  to {
    /* left: 50%; */
    top: 15%;
    bottom: 0%;
  }
}

@keyframes modal-background-fade-in {
  from {
    background: transparent;
  }
  to {
    background: rgba(0, 0, 0, 0.7);
  }
}