.nav-bar-container {
  display: flex;
  justify-content: center;
  background-color: rgb(60, 64, 67);
  height: 46px;
}

.nav-bar {
  width: 1230px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background-color: rgb(60, 64, 67);
  height: 46px;
  z-index: 6;
}

#site-title {
  margin-top: auto;
  margin-bottom: auto;
  color: white;
  font-size: 14px;
}

 button {
   font-size: 14px;
   padding: 5px;
   background-color: darkslateblue;
   border-radius: 3px;
   margin-top: auto;
   margin-bottom: auto;
   margin-left: 15px;
   margin-right: 15px;
   color: white;
   border: 0.5px solid black;
   flex-shrink: 0;
 }

 #sign-in-btn {
   background-color: rgb(45, 47, 48);
   font-size: 14px;
   width: 70px;
 }

 #sign-in-btn:hover {
   border: 1px solid rgb(122, 128, 130);
 }

 #create-acc-btn {
   font-size: 14px;
   width: 125px;
   flex-shrink: 0;
 }

.logo {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(26, 26, 26);
  margin-right: 15px;
  padding-right: 17px;
  padding-left: 17px;
  padding-top: 5px;
  margin-top: -5px;
}

 #logo-img {
   width: 45px;
 }
 
 .nav-tabs {
   display: flex;
   justify-content: space-evenly;
   color: white;
   height: 100%;
   margin-left: -10px;
  }
  
  .nav-tab-wrapper {
    border-right: 1px solid white;
    height: 100%;
  }
 
  .portfolio-tab, .linkedin-tab,  .home-tab {
    color: rgba(255, 255, 255, 0.673);
    padding-right: 25px;
    padding-left: 25px;
    text-decoration: none;
    position: relative;
    top: 13px;
  }
  
  .portfolio-tab:hover, .linkedin-tab:hover,
  .home-tab:hover, .account-dropdown button:hover,
  .settings-dropdown:hover, .upload-link:hover {
    cursor: pointer;
    color: white;
  }

  
 #search-bar {
   width: 500px;
   height: 28px;
   margin-left: 40px;
   margin-right: 20px;
   margin-top: auto;
   margin-bottom: auto;
   flex-shrink: 0;
   background-color: #181a1b;
   border: none;
   border-radius: 5px;
   font-size: 14px;
   padding-left: 6px;
   font-weight: lighter;
   color: white;
 }

 #search-bar:focus-within {
    background-color: #0c0d18;
    outline-color: darkslateblue;
    color: white;
}

  .upload-link {
    color:rgba(255, 255, 255, 0.673);
    text-decoration: none;
    font-size: 14px;
    margin-left: 10px;
  }

  .user-nav-item {
    display: flex;
    margin-left: 25px;
  }

  .user-nav-item:hover {
    cursor: pointer;
    color: white;
  }

  .user-nav-item .avatar {
    border-radius: 100%;
    height: 20px;
    width: 20px;
    border: 1px solid white;
  }

  .user-profile-link {
    text-decoration: none;
    color:rgba(255, 255, 255, 0.673);
    text-decoration: none;
    font-size: 14px;
    margin-top: 4px;
    margin-left: 7px;
  }

  .user-profile-link:hover {
    color: white;
  }

   .dropdown-header {
  background-color: rgb(60, 64, 67);
  border-color: rgb(60, 64, 67);
  color:rgba(255, 255, 255, 0.673);
 }

 .dropdown-header:hover {
   cursor: pointer;
 }

 .settings-dropdown button {
   font-size: 35px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   margin-top: -20px;
   height: 64px;
   width: 45px;
   padding-bottom: 5px;
   border: none;
   border-radius: 0px;
   overflow: hidden;
   position: absolute;
   top: 2px;
 }

.settings-dropdown button:active:hover, .account-dropdown button:active:hover {
    background-color: darkslateblue;
}

 .settings-dropdown button:hover {
  color: white;
 }


  #signOutListItem {
    color: white;
    background: darkslateblue;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-top: 10px;
    width: 70px;
    height: 20px;
    border-radius: 1px;
    z-index: 8;
    position: relative;
    top: 40px;
    left: -19px;
  }

  #signOutListItem:hover {
    cursor: pointer;
  }

  