.nav-bar {
  display: flex;
  justify-content: space-evenly;
  background-color: grey;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 30%;
  padding-left: 30%;
  height: 25px;
}

 button {
   font-size: 12px;
   padding: 5px;
   background-color: darkslateblue;
   border-radius: 5px;
   margin-top: auto;
   margin-bottom: auto;
 }

 #sign-in-btn {
   width: 110px;
 }

 #create-acc-btn {
   width: 250px;
 }

 #search-bar {
   width: 375px;
 }

 #site-title {
   margin-top: auto;
   margin-bottom: auto;
 }