.top-border {
  margin: 0 auto;
  height: 4px;
  background: darkslateblue;
  width: 1230px;
}

.splash-content {
  margin: 0 auto;
  margin-top: -56px;
  width: 1230px;
  background: rgb(31, 31, 31);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.splash-panel {
  background: transparent;
  z-index: 3;
  width: 1230px;
  height: 500px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.splash-panel-carousel {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: 400%;
  animation: carousel 26s infinite;
  
}

@keyframes carousel {
  0%   { transform: translateX(0); }
  50% { transform: translateX(-1000px)}
  100% { transform: translateX(-3010px); }
}

.splash-panel-carousel div {
  flex-shrink: 0;
  width: 300px;
  height: 300px;
}

.splash-panel-carousel img {
  opacity: 0.6;
  object-fit: cover;
}

.splash-div .logo {
  background: transparent;
  z-index: 5;
}

.splash-div .nav-bar {
  margin: 0 auto;
  margin-top: 10px;
  z-index: 10;  
  width: 1230px;
  background: rgba(64, 0, 184, 0.397);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.splash-div #sign-in-btn {
  background: transparent;
  border-color: gray;
  z-index: 5;
}

.splash-div #sign-in-btn:hover {
  border-color: white;
}

.splash-modal-btns {
  display: flex;
  margin-right: 30px;
  z-index: 6;
}

.splash-div .logo {
  left: 0px;
}

.carousel-text {
  position: relative;
  color: rgba(255, 255, 255, 0.728);
  text-shadow: 2px 2px rgb(7, 7, 130);
  font-size: 30px;
  padding: 8px;
  border-radius: 3px;
  z-index: 8;
}

.panel-1, .panel-2, .panel-3 {
  width: 1230px;
}

.panel-1 .carousel-text {
  left: 100px;
}

.panel-2 .carousel-text {
  left: 180px;
}

.panel-3 .carousel-text {
  left: 200px;
}

.non-carousel-content {
  margin: 0 auto;
}

.search-bar-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
}

.splash-div #search-bar {
  margin-top: 45px;
  width: 800px;
  height: 40px;
  left: 170px;
  font-size: 16px;
  background: black;
}

.splash-div #upload-btn {
  font-size: 14px;
  padding-right: 17px;
  padding-left: 17px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-top: 43px;
}

.splash-div #or {
  font-size: 15px;
  color: white;
  margin-top: 43px;
}

#banner-text {
  font-size: 28px;
  color: white;
  margin-bottom: 25px;
}

#trending-tracks {
  height: 450px;
  width: 1170px;
  border: solid 1px rgba(71, 61, 139, 0.81);
  margin-bottom: 75px;
  border-radius: 5px;
}


#thank-you-text {
  font-size: 35px;
  color: white;
  margin-bottom: 20px;
}

#thank-you-subheader {
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
}

#small-text {
  color: white;
  font-size: 14px;
}

#splash-footer {
  margin: 0 auto;
  margin-left: 330px;
}

#sign-in-footer {
  padding-top: 80px;
  display: flex;
  margin-bottom: 80px;
  margin-left: 150px;
}

#sign-in-footer #create-acc-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  height: 50px;
  font-size: 17px;
  position: relative;
  left: -255px;  
  margin-top: -70px;
}

#sign-in-footer #sign-in-btn {
  height: 35px;
  border-color: darkslateblue;
  margin-top: 10px;
  margin-left: 20px;
}

#sign-in-footer #sign-in-btn:hover {
  border-color: white;
}

#small-text {
  margin-top: 20px;
}