.track-show-center-panel {
  display: flex;
    padding-top: 45px;
  justify-content: center;
  flex-direction: column;
  animation-name: fade-in;
  animation-duration: 0.5s;
  padding-bottom: 75px;
}

.track-hero {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 1230px;
  height: 380px;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(36,6,121,1) 63%, rgba(69,0,173,1) 100%);
}

.left-wrapper {
  display: flex;
  flex-direction: column;
}

#play-btn-track-text-and-creation-time {
  display: flex;
}

.delete-modal-box #play-btn-track-text-and-creation-time {
  position: relative;
}

#play-btn-track-text-and-creation-time .play-btn {
  position: relative;
  margin-left: 0px;
  margin-top: 0px;
  height: 60px;
  width: 60px;
}

#play-btn-track-text-and-creation-time .play-sign, #play-btn-track-text-and-creation-time .pause-sign {
  margin-top: 5px;
  margin-left: 5px;
}

.delete-modal-box .play-sign, .delete-modal-box .pause-sign {
  position: absolute;
  z-index: 12;
  left: 35px;
  top: 35px;
}

.track-text-and-creation-time {
  display: flex;
  margin-left: 30px;
}

.play-btn-and-track-name {
  display: flex;
  flex-direction: row;
}

.creation-time-and-track-cover {
  display: flex;
  flex-direction: row;
  position: relative;
}

.track-text {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 10px;
}

.artist-name {
  color: rgb(181, 180, 180);
  font-size: 14px;
  padding: 5px;
  display: inline;
  background-color: rgba(87, 74, 171, 0.468);
}

.artist-name:hover {
  color: white;
  cursor: pointer;
}

.track-name {
  margin-top: 12px;
  color: white;
  font-size: 22px;
  padding: 5px;
  display: inline-block;
  background-color: rgba(89, 76, 176, 0.468);
}

.track-cover {
  width: 335px;
  height: 335px;
  margin-top: 20px;
  margin-right: 20px;
  object-fit: cover;
}

.creation-time-elapsed {
  color: white;
  font-size: 15px;
  margin-top: 30px;
  position: absolute;
  left: -150px;
}

.show-track-player {
  width: 815px;
  height: 100px;
  margin-top: 145px;
  margin-left: 35px;
  margin-right: 20px;
}

.show-track-player:focus {
  outline: none;
}

#waveform-wrapper {
  position: relative;
}

#time-elapsed-bar {
  position: absolute;
  padding: 3px;
  z-index: 4;
  font-size: 11px;
  background: rgba(0, 0, 0, 0.719);
  color: white;
  top: 45px;
  left: -2px;
}

#duration-bar {
  position: absolute;
  padding: 3px;
  z-index: 4;
  font-size: 11px;
  background: rgba(0, 0, 0, 0.719);
  color: white;
  top: 45px;
  left: 778px;
}

#click-barrier {
  position: absolute;
  z-index: 5;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

#waveform-loading-icon {
  position: absolute;
  z-index: 3;
  top: -60px;
  left: 300px;
}

#loading-text {
  position: absolute;
  z-index: 4;
  top: -8px;
  left: 350px;
  font-size: 24px;
  color: white;
}

#track-show-scrollbar {
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 60px;
  left: -2px;
  /* pointer-events: none; */
}

#track-show-scrollbar::-webkit-slider-thumb {
  pointer-events: none;
}

#track-show-scrollbar::-ms-thumb {
  pointer-events :none;
}

#track-show-scrollbar::-moz-slider-thumb {
  pointer-events: none;
}

#track-show-scrollbar-loading {
  display: none;
}

.play-btn {
  margin-left: 30px;
  margin-top: 30px;
  height: 56px;
  width: 56px;
  background-color: rgb(49, 42, 95);
  border-radius: 50%;
  display: inline-block;
}

.play-btn:hover {
  cursor: pointer;
  background-color: rgb(37, 32, 73);
}

.play-sign, .pause-sign {
  position: relative;
  left: 18.5px;
  top: 15px;
  height: 25px;
  width: 25px;
  z-index: 3;
}

audio {
  width: 815px;
  height: 75px;
}

audio:focus {
  outline: none;
}

.bottom-info {
  position: relative;
  margin: 0 auto;
  margin-top: 40px;
  width: 1230px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.track-response-bar {
  border-top: 1px solid rgb(49, 49, 49);
  width: 800px;
  height: 100%;
  padding: 10px 0 0 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

/* .right-border {
  border-left: 1px solid rgb(49, 49, 49);
} */

.edit-btn {
  width: 30px;
  height: 20px;
  font-size: 13px;
  padding: 5px 5px 5px 25px;
  border: 1px solid black;
  background: rgb(109, 109, 109);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 3px;
}

.edit-btn:active {
  background: rgb(94, 94, 94);
}

.edit-btn, .pencil-png {
  cursor: pointer;
}

.edit-btn-ele {
  margin-right: 25px;
  margin-top: 3px;
}

.pencil-png {
  z-index: 2;
  width: 50px;
  height: 50px;
  margin-right: 3px;
  margin-top: 3px;
}

.delete-btn {
  margin-left: 10px;
  width: 30px;
  height: 20px;
  font-size: 13px;
  border: 1px solid black;
  background: rgb(109, 109, 109);
  color: white;
  padding: 5px 5px 5px 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 3px;
}

.delete-btn:active {
  background: rgb(94, 94, 94);
}

.delete-btn:hover {
  cursor: pointer;
}

.delete-btn-ele {
  margin-right: 30px;
  margin-top: 3px;
}

.trashcan-png {
  z-index: 2;
  width: 15px;
  height: 15px;
  position: relative;
  left: -5px;
  top: 2px;
}

.trashcan-png:hover, .pencil-png:hover {
  cursor: pointer;
}


.current-user-avatar {
  width: 31px;
  height: 31px;
  margin-right: 3px;
}

.comment-bar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.response-buttons-bar {
  margin-top: 5px;
  margin-bottom: 30px;
  width: 820px;
  height: 20px;
  display: flex;
  flex-direction: row;
}

.comment-input {
  height: 29px;
  width: 780px;
  padding-left: 10px;
  background-color: #080808;
  border: darkslateblue;
  border-radius: 2px;
  color: white;
  font-size: 14px;
}

.comment-input::placeholder {
  font-size: 14px;
}

.comment-input:focus {
  outline-color: darkslateblue;
  background-color: black;
}

.profile-and-description {
  margin-top: -20px;
  display: flex;
  flex-direction: row;
}

.t-s-artist-profile {
  margin-left: 25px;
}

.circular-profile-picture {
  height: 115px;
  width: 115px;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(36,6,121,1) 63%, rgb(43, 0, 173) 100%);
  border-radius: 50%;
  display: inline-block;
  animation-name: fade-in;
  animation-duration: 0.5s;
}

.circular-profile-picture img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

.t-s-artist-name {
  color: white;
  font-size: 14px;
  margin-top: 15px;
}

.track-description {
  color: white;
  margin-left: 50px;
  margin-top: 5px;
}

.track-comments {

}

.logo-footer {

}
