#play-btn-wrapper .play-btn {
  position: absolute;
  z-index: 4;
  left: 30px;
  top: 30px;
  height: 50px;
  width: 50px;
}

#play-btn-wrapper .play-sign {
  position: relative;
  left: 14px;
  top: 12px;
  height: 26px;
  width: 26px;
  z-index: 3;
}

#play-btn-wrapper .pause-sign {
  position: relative;
  left: 12px;
  top: 12px;
  height: 26px;
  width: 26px;
  z-index: 3;
}

#play-btn-wrapper .loading-icon2 {
  position: relative;
  z-index: 3;
  left: 12px;
  top: 12px;
  height: 35px;
  width: 35px;
}