#play-btn-wrapper .play-btn {
  position: absolute;
  z-index: 4;
  left: 25px;
  top: 25px;
  height: 60px;
  width: 60px;
}

#play-btn-wrapper .play-sign {
  position: relative;
  left: 20px;
  top: 16px;
  height: 26px;
  width: 26px;
  z-index: 3;
}

#play-btn-track-text-and-creation-time #play-btn-wrapper .play-sign {
  left: 16px;
  top: 12px;
}

#play-btn-track-text-and-creation-time #play-btn-wrapper .pause-sign {
  left: 13px;
  top: 12px;
}

#play-btn-wrapper .pause-sign {
  position: relative;
  left: 17px;
  top: 16px;
  height: 26px;
  width: 26px;
  z-index: 3;
}

#play-btn-wrapper .loading-icon2 {
  position: relative;
  z-index: 3;
  left: 12px;
  top: 12px;
  height: 35px;
  width: 35px;
}

