.upload-details-page {
    display: flex;
      padding-top: 60px;
    justify-content: center;
    animation-name: fade-in;
    animation-duration: 0.5s;
}

.upload-details-box {
  margin: 0 auto;
  margin-top: 10px;
  background-color: rgb(59, 62, 65);
  padding: 20px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 750px;
  border-radius: 3px;
  box-shadow: 0 -1px 5px rgb(59, 59, 59);
}


.edit-modal-child .upload-details-box {
  margin-top: 120px;
  position: relative;
}

.loading-group {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  padding: 30px 170px 17px 190px;
  margin-top: -20px;
  border-radius: 3px;
  animation-name: fade-in;
  animation-duration: 0.25s;
}

.loading-icon {
  height: 450px;
}

.loading-text {
  position: absolute;
  left: 280px;
  top: 160px;
  z-index: 3;
  font-size: 50px;
}

.upload-header-wrapper {
  padding-top: 30px;
  width: 750px;
  border-bottom: 1px solid rgb(49, 49, 49);
  margin-bottom: 25px;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.upload-details-header {
  position: absolute;
  top: -4px;
  font-size: 23px;
  padding-bottom: 10px;
  width: 105px;
  border-bottom: 2px solid rgb(98, 82, 203);
}

.upload-details-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.upload-details-content {
  display: flex;
  flex-direction: row;
}

.blank-image-square {
  background: black;
  background: linear-gradient(200deg, rgb(64, 68, 87) 0%, rgb(104, 104, 147) 63%, rgb(134, 134, 235) 100%);
  width: 250px;
  height: 250px;
  margin-right: 20px;
}

.cover-art {
  width: 250px;
  height: 250px;
  margin-right: 20px;
  object-fit: cover;
}

.camera-png {
  width: 25px;
  height: 25px;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  left: 0px;
  top: -3px;
}

.image-input-text-bar {
    top: -65px;
  left: 70px;
  position: relative;
}

.image-input-text {
  background: rgb(148, 148, 148);
  color: black;
  width: 60px;
  padding: 5px 5px 5px 5px;
  padding-left: 25px;
  font-size: 12px;
  border-radius: 3px;
  z-index: 0;
}

.image-input-text:hover {
  cursor: pointer;
  background: rgb(189, 189, 189);
}

.image-input {
  z-index: 3;
  position: relative;
  top: -93px;
  left: 70px;
  width: 108px;
  height: 18.5px;
  border-radius: 4px;
  border: 1px solid white;
  display: none;
}

.title-div {
  margin-bottom: 20px;
}

.title-input, .description-input {
  margin-top: 10px;
  width: 480px;
  height: 20px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 20px;
  border-radius: 5px;
  border: 1px solid gray;
}

.title-input:focus, .description-input:focus {
  outline-color: darkslateblue;
} 

.description-input {
  height: 120px;
}

.image-error {
  color: red;
  font-size: 13px;
  margin-top: 10px;
  animation-name: slide-down;
  animation-duration: 0.25s;
  width: 250px;
  text-align: center;
}

#errored-image-square {
  border: 1px solid red;
}

.errored-title-group .title-input {
  border: 1px solid red;
  outline: none;
}

.errored-title-group .title-error {
  color: red;
  font-size: 13px;
  margin-top: 10px;
  animation-name: slide-down;
  animation-duration: 0.25s;
}


@keyframes slide-down {
  from {
    opacity: 0;
    margin-top: -10px;
  }
  to {
    opacity: 1;
    margin-top: 10px;
  }
}

.title-input-label, .description-input-label {
  font-size: 12px;
}

.description-div {
  margin-bottom: 30px;
}

.privacy-div {
  display: flex;
  flex-direction: column;
}

.privacy-div input:hover {
  cursor: pointer;
}

.privacy-div label {
  margin-bottom: 13px;
}

.public-label, .private-label {
  margin-left: 8px;
  padding-top: 3px;
}

.upload-bottom-bar {
  border-top: 1px solid rgb(49, 49, 49);
  width: 770px;
  padding: 10px 10px 0px 30px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cancel-upload-btn:hover, .save-upload-btn:hover {
  cursor: pointer;
}